<%- include("partials/header"); -%>
<div class="container">
    <div class="row">

        <h2 style="background-color: chartreuse; margin-top: 20px;" class="text-center">Page Does Not Exists</h2>
        <div class="col-lg-6">
            <a class="btn btn-warning btn-block btn-lg" style="margin-top: 40px;" href="/">Home <i class="fas fa-home"></i></a>     
        </div>
        <div class="col-lg-6">
            <a class="btn btn-success btn-block btn-lg" style="margin-top: 40px;" href="/allCustomers">All Customers <i class="fas fa-user"></i></a>          
        </div>
    </div>
</div>
<%- include("partials/footer"); -%>
