<%- include("partials/homeheader"); -%>
<div>
    <div class="container">
        <div>
            <img src="/img/log.svg" alt="" class="item" />
        </div>
        <div class="contain">
            <span>Banking &</span>
            <span>Budgeting, Made Simple</span>
            <span>With Horizon First</span>
            <div>
                <a class="btn btn-warning btn-lg" style="margin-top: 40px; border: 2px solid black;" href="/allCustomers">Get Started</a> 
                <img src="/img/logo.png" alt="logo" class="body-logo">         
            </div>
        </div>
    </div>
    <div class="fac">
        <div class="row mb-2">
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-wallet"></i></h2>
                <h2>Account Management</h2>
                <p class="text">
                    All accounts are displayed clearly in one place.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-rupee-sign"></i></h2>
                <h2>Transactions Track</h2>
                <p class="text">
                    The history of all of Your transactions, will be given in the History section                </p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4">
                <h2><i class="fas fa-money-check-alt"></i></h2>
                <h2>Welath Management</h2>
                <p class="text">
                    We're in this together, and here to help our customers
                    and communities.
                </p>
            </div>
        </div>
    </div>
</div>
    <%- include("partials/footer"); -%>